* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 10% 2%; /*row-gap column-gap*/
}
