* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.boardGame {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 10% 2%; /*row-gap column-gap*/
}

/* Pop-up modal*/
.pop-up {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}
